-provide :header_title, icon('user', @client.full_name)
.toolbox.btn-group
  = create_button t('helpers.back'), clients_path, icon: 'reply'
  = create_button t('clients.add'), new_client_path, icon: 'plus'
  = create_button t('clients.edit'), edit_client_path(@client), icon: 'pencil'
  = create_button t('clients.delete'), client_path(@client), method: :delete, 
      data: { confirm: t('clients.delete_confirm', client: @client.full_name) }, icon: 'trash'
=bootstrap_form_for(@client) do |f|
  .row
    .col-sm-6
      =f.static_control :surname
    .col-sm-6
      =f.static_control :name
    .col-sm-12{class: ('hide' if @client.activity==1)}
      =f.static_control :company
    .col-sm-6{class: ('hide' if @client.activity==1)}
      =f.static_control :REGON
    .col-sm-6{class: ('hide' if @client.activity==0)}
      =f.static_control :PESEL
    .col-sm-6
      =f.static_control :telephone_number
    .col-sm-6
      =f.static_control :e_mail
    .col-sm-6.col-md-4
      =f.static_control :street
    .col-sm-6.col-md-4
      =f.static_control :city
    .col-sm-6.col-md-4
      =f.static_control :zip_code
  / .col-sm-2.pull-right
  /   =f.submit t('helpers.save'), class: 'btn-block'
  / .col-sm-2.pull-right
  /   = create_button t('helpers.cancel'), clients_path, class: 'btn-block', icon: 'times'