=bootstrap_form_for(@item, inline_errors: false, label_errors: false) do |f|
  .row
    .col-xs-12
      = f.text_field :name, disabled: read_mode?
    .col-xs-12
      = f.select :group_id, options_from_collection_for_select(@groups, 'id', 'name', 
          (@item.group.id if @item.group.present?)), 
          {include_blank: (true unless @item.group.present?)}, disabled: read_mode?
    .col-xs-12
      = f.text_area :description, disabled: read_mode?
    -unless read_mode?
      .col-sm-2.pull-right
        =f.submit t('helpers.save'), class: 'btn-block', icon: 'ok'
      .col-sm-2.pull-right
        = create_button t('helpers.cancel'), items_path, class: 'btn-block', icon: 'times'