%ul.nav.navbar-nav
  =create_menu_item icon('users',t('menu.clients')), clients_path
  =create_menu_item icon('home',t('menu.material_policies')), material_policies_path
  =create_menu_item icon('database',t('menu.groups')), groups_path
  =create_menu_item icon('tag',t('menu.items')), items_path
  / =link_to icon('users',t('menu.clients')), '#', class: 'list-group-item'
  / =link_to icon('book',t('menu.policies')), '#', class: 'list-group-item'
  / =link_to icon('book',t('menu.policies')), '#', class: 'list-group-item